*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid lime; */
}

html{
    font-family: sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
}

main{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.container main div img{
    display: block;
}

.container .card{
    position: relative;
}

.container .card span{
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: capitalize;
    background-color:rgb(98, 109, 122, 0.5);
    padding: 5px;
}

header span svg{
    color: white;
    width: 16px;
}
header span{
    color: white;
    font-size: 16px ;
    background-color: rgb(98, 109, 122, 0.5);
    padding: 5px;
    border-radius: 5px;
    text-transform: capitalize;
    margin-right: 5px;
}

header i{
    color: white;
    font-size: 16px ;
    background-color: rgb(98, 109, 122, 0.5);
    padding: 6px;
    border-radius: 5px;
}

header{
    position: absolute;
    top: 2px;
    right: 0;
}